[submodule ".themes/slash"]
	path = .themes/slash
	url = git@github.com:xiaogaozi/Octopress-Theme-Slash.git
[submodule ".themes/ghost"]
	path = .themes/ghost
	url = https://github.com/xiaogaozi/octopress-theme-ghost.git
